*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.barra{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.171);
}
ul, li{
    font-size: 25px;
    display:block;
    float:left;
    padding:0 0 0 140px;
}
h2{
    display: inline-block;
    font-size: 40px;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
}
.buscador{
    display: inline-block;
    height: 40px;
    width: 240px;
    margin-left: 30%;

}
.lupa{
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 89%;
}
.caja1{
    background-color: rgba(116, 25, 141, 0.375);
    margin-top: 3%;
    display: flex;
    height: 540px;
}
h3{
    margin-left: 5%;
    margin-top: 4%;
    font-size: 35px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.caja2{
    width: 410px;
    flex: 2;
}
.caja3{
    flex: auto;
    width: 160px;
}
.col,.col2{
    display: inline-block;
    margin-top: 10%;
}
.txt{
    display: flex;
}




.slider-container {
    overflow: hidden;
    width: 900px;
    max-height:510px ;
    max-width: 910px; 
    margin: 0 auto; 
}

.slider {
    display: flex; 
    transition: transform 0.3s ease; 
}

.slide {
    flex: 0 0 100%; 
}

.slide img {
    margin-top: 2%;
    width: 50%; 
    height: 80%;
}
#next-btn{
    background-color: rgba(116, 25, 141, 0.375);
    text-decoration: none;
    display:inline-block;
    width:220px;
    height: 60px;
    margin-left: 50%;
    padding:20px;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgb(76, 21, 105);

}

#next-btn:hover{
    box-shadow: 0px 0px 20px 5px rgb(8, 8, 1);
    
  }
#prev-btn{
    text-decoration: none;
    width:220px;
    height: 60px;
    margin-left: 40%;
    padding:20px;
    background-color: rgba(116, 25, 141, 0.375);
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgb(76, 21, 105);

}

#prev-btn:hover{

box-shadow: 0px 0px 20px 5px rgb(8, 8, 1);
    
}

.barra2{
    height: 100px;
    display: flex;
    width: 90%;
    margin-left: 5%;
}
.img1, .img2{
    display: inline-block;
    height: 150px;
    width: 150px;
}
h1{
    text-align: center;
    margin-top: 4%;
    display: inline-block;
    font-size: 30px;
}
.image-container {
    position: relative;

}
  /* Estilo de la superposición */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 507px;
    height: 327px;
    background-color: rgba(0, 0, 0, 0.758);
    color: aliceblue;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave para mostrar/ocultar */
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    height: 320px;
    width: 350px;
    margin-left: 16%;
}

  /* Mostrar la superposición cuando el contenedor se coloca encima */
.image-container:hover .overlay {
    opacity: 1;
}
.mostrador{
    display: flex;
;
}
.mostrador2{
    display: flex;
}
.fila1, .fila2, .fila3{
    margin: 1%;
    flex: auto ;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.652);
}
.botones{
    display: flex;
    margin-top: 4%;
}
.btn1,.btn2, .btn3{
    margin: 1%;
    height: 40px;
    width: 200px;
    flex: auto ;
    font-size: 20px;
    background-color: rgba(116, 25, 141, 0.375);
    box-shadow: 30px;
}
p{
    font-size: 28px;
    margin: 5%;
}
.todo{
    margin-left: 7%;
    margin-right: 7%;
}
.logo{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 10%;
}

